@model Models.Order.BuyMoreModel
@{
    ViewBag.Title = "保全操作";
}
@if (!Model.Disable)
{
    <h4 class="text-primary_color">补充资料</h4>
    using (Html.BeginForm("BuyMore", "Order", FormMethod.Post, new { @class = "orderEntryInfoBody  buyMoreFile", enctype = "multipart/form-data", onsubmit = Html.Raw("return checkFile(1)") }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <ul class="">
            <li>
                1. 下载变更人员模板人员信息变更模板:
            </li>
            <li>
                <a href=@Model.EmpInfoFileUrl target="_blank" class="btn btn-default">下载模板</a>
            </li>
            <li>
                2.请上传填写完成的员工名单:
            </li>
            <li>
                <a href="javascript:;" class="a-upload">
                    <input type="file" id="empinfo" name="empinfo" />+ 浏览
                </a>
                <span class="lab" style="height:28px;line-height:28px;">@*未选择上传文件*@</span>
                <input type="submit" value="上传" class="btn btn-default" />

            </li>
            <li>
                @if (Model.HasEmpInfoExcel)
                {
                    <div class="uploadInfo">
                        <div>
                            <span><i class="fa fa-check"></i>已上传</span>
                            <a href="@Model.EmpInfoExcel">查看</a>
                            @Html.ActionLink("删除", "DeleteFile", new { id = Model.BId, fType = 4 }, new { @style = "color:red;" })
                        </div>
                    </div>
                }
            </li>
        </ul>
    }
    if (Model.HasEmpInfoExcel)
    {
        <div class="clearfix"></div>
        using (Html.BeginForm("UploadEmpInfoPdf", "Order", FormMethod.Post, new { @class = "orderEntryInfoBody buyMoreFile", enctype = "multipart/form-data", onsubmit = Html.Raw("return checkFile('2')") }))
        {
            <ul class="">
                <li>
                    3. 下载系统生成的盖章文件:
                </li>
                <li>
                    <a href="@Model.EmpInfoFilePDF" target="_blank" class="btn btn-default">名单下载</a>
                </li>
                <li>
                    4. 加盖公章的影像文件并上传:
                </li>
                <li>
                    <input type="hidden" name="Id" value=@Model.Id />
                    <input type="hidden" name="uType" value="2" />
                    <a href="javascript:;" class="a-upload">
                        <input type="file" id="EmpInfoPdfSeal" name="EmpInfoPdfSeal" />+ 浏览
                    </a>
                    <span class="lab" style="height:28px;line-height:28px;">@*未选择上传文件*@</span>
                    <input type="submit" value="上传" class="btn btn-default" />
                </li>
                <li>
                    @if (Model.HasEmpInfoFilePDFSeal)
                    {
                        <div class="uploadInfo">
                            <div>
                                <span><i class="fa fa-check"></i>已上传</span>
                                <a href="@Model.EmpInfoFilePDFSealUrl">查看</a>
                                @Html.ActionLink("删除", "DeleteFile", new { id = Model.BId, fType = 5 }, new { @style = "color:red;" })
                            </div>
                        </div>
                    }
                </li>
            </ul>
        }
        if (Model.HasPaymentNotice)
        {
            <ul class="buyMoreFile" style="border-bottom:1px solid #ddd;overflow:hidden">
                <li style="width:35%;float:left;line-height:40px;">
                    5. 请下载付款通知书:
                </li>
                <li style="width:30%;float:left;line-height:40px">
                    <div class="clearfix"></div>
                    <div style="line-height:2em;width:100%;text-align:left;">
                        <a href="@Model.PaymentNotice" target="_blank" class="btn btn-default">下载付款通知书</a>
                    </div>

                </li>
            </ul>
        }
        else
        {
            <ul class="buyMoreFile" style="border-bottom:1px solid #ddd;overflow:hidden">
                <li style="width:35%;float:left;line-height:40px;">
                    5. 本次退款将用于以后增加人员费用:
                </li>
                <li style="width:30%;float:left;line-height:40px">

                </li>
            </ul>

        }
    }
}
<div style="line-height:2em;width:100%;text-align:center;">
    <span class="text-danger" style="color:red;" id="error">@Model.Result</span>
</div>
<div class="clearfix"></div>
<h4 class="text-primary_color">投保变更详细</h4>
@using (Ajax.BeginForm("EmpChanges", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "empTempData" }, new { id = "empTempInfo" }))
{
    <input type="hidden" name="Id" value=@Model.Id />
    <div id="empTempData">
        @Html.Action("EmpChanges", new { id = Model.Id })
    </div>
}
<div class="clearfix"></div>
<h4 class="text-primary_color">已有人员信息</h4>
@using (Ajax.BeginForm("DetailsEmp", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "dadaGrid" }, new { id = "employeeInfo" }))
{
    <input type="hidden" name="Id" value=@Model.Id />
    <div id="dadaGrid">
        @Html.Action("DetailsEmp", new { id = Model.Id })
    </div>
}


@section Scripts
    {
    <script>
        function checkFile(e) {
            var s = parseInt(e);
            var errorInfo = $("#error");
            if (e == 1) {
                var empFile = $("#empinfo").val();
                if (empFile == '') {
                    errorInfo.text("未选择任何文件！");
                    return false;
                }
                pf = (empFile.substring(empFile.lastIndexOf(".") + 1, empFile.length)).toLowerCase();
                if (pf == 'xlsx' || pf == 'xls') {
                    return true;
                } else {
                    errorInfo.text("员工名单只能上传Excel文件！");
                    return false;
                }
            }
            if (e == 2) {
                var EmpInfoPdfSeal = $("#EmpInfoPdfSeal").val();
                if (EmpInfoPdfSeal == '') {
                    errorInfo.text("未选择任何文件！");
                    return false;
                }
                pf = (EmpInfoPdfSeal.substring(EmpInfoPdfSeal.lastIndexOf(".") + 1, EmpInfoPdfSeal.length)).toLowerCase();
                if (pf == 'zip' || pf == 'rar' || pf == 'pdf') {
                    return true;
                } else {
                    errorInfo.text("员工名单盖章文件请上传PDF或者压缩文件！");
                    return false;
                }
            }
            return false;
        }
    </script>
}
