
@{
    ViewBag.Title = "保单管理";
}
@using (Ajax.BeginForm("CompletedOrderList", null, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "dadaGrid" }, new { @id = "searchForm" }))
{
    @Html.AntiForgeryToken()
    <div class="Search">
        <dl>
            <dt>公司名称:</dt>
            <dd><input type="text" name="companyName" value="" placeholder="请输入公司名称" /></dd>
            <dt>订单状态:</dt>
            <dd>
                @Html.DropDownList("state", ViewBag.orderState as List<SelectListItem>)
            </dd>
            <dt>方案名称:</dt>
            <dd>
                <input type="text" name="name" value="" placeholder="请输入方案名称" />             
            </dd>
            <dt>时间起:</dt>
            <dd>
                <input readonly="readonly" type="text" name="beginDate" id="beginDate" class="form-control" value="" />
            </dd>
            <dt>时间止:</dt>
            <dd>
                <input readonly="readonly" type="text" name="endDate" id="endDate" class="form-control" value="">
            </dd>
            <dt></dt>
            <dd><p><input type="submit" value="查找" /></p></dd>
        </dl>
        <p class="clearfix"></p>
    </div>
    <div id="dadaGrid">
        @Html.Action("CompletedOrderList")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery(function() {
            jQuery("#beginDate")
                .datepicker({
                    //startDate: '@DateTime.Now.ToShortDateString()'
                });
            jQuery("#endDate")
                .datepicker({
                    //startDate:'@DateTime.Now.AddDays(4).ToShortDateString()'
                });
        });
    </script>
}
