@model Models.Order.OrderDatailsModel

@{
    ViewBag.Title = "订单详细";
}
<div class="orderDetails">
    <h4 class="text-primary">基本信息</h4>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessLicense)
        </dt>

        <dd>
            <a href=@Model.BusinessLicense target="_blank">查看</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
    <div class="clearfix"></div>
    <h4 class="text-primary">投保批次</h4>
    <div class="table-responsive">
        <table class="table-bordered orderDetailsTable">
            <tr>
                <th>投保批次</th>
                <th>状态</th>
                <th>人员资料Excel</th>
                <th>人员资料PDF</th>
                <th>投保单PDF</th>
                <th>付款通知书</th>
                <th>下单时间</th>
                <th>Inscoo确认时间</th>
                <th>收款金额</th>
                <th>收款时间</th>
                <th>保险公司确认时间</th>
                <th>快递单号</th>
            </tr>
            @{
                if (Model.orderBatch.Count > 0)
                {
                    foreach (var item in Model.orderBatch)
                    {
                        <tr>
                            <td>
                                @item.BId
                            </td>
                            <td>
                                @item.BState
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.EmpInfoFile))
                                {
                                    <a href=@item.EmpInfoFile target="_blank">查看</a>
                                }
                                else
                                {
                                    <span>暂无</span>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.EmpInfoFileSeal))
                                {
                                    <a href=@item.EmpInfoFileSeal target="_blank">查看</a>
                                }
                                else
                                {
                                    <span>暂无</span>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.PolicySeal))
                                {
                                    <a href=@item.PolicySeal target="_blank">查看</a>
                                }
                                else
                                {
                                    <span>暂无</span>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.PaymentNoticePDF))
                                {
                                    <a href=@item.PaymentNoticePDF target="_blank">查看</a>
                                }
                                else
                                {
                                    <span>暂无</span>
                                }
                            </td>
                            <td>
                                @item.PolicyHolderDate
                            </td>
                            <td>
                                @item.InscooConfirmDate
                            </td>
                            <td>
                                @item.AmountCollected
                            </td>
                            <td>
                                @item.FinanceDate
                            </td>
                            <td>
                                @item.InsurerConfirmDate
                            </td>
                            <td>
                                @item.CourierNumber
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
    <div class="clearfix"></div>
    <h4 class="text-primary">人员信息</h4>
    @using (Ajax.BeginForm("DetailsEmp", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "dadaGrid" }, new { id = "employeeInfo" }))
    {
        <input type="hidden" name="Id" value=@Model.Id />
        <div id="dadaGrid">
            @Html.Action("DetailsEmp", new { id = Model.Id })
        </div>
    }
    <div class="clearfix"></div>
</div>
