@model Models.Order.OrderDatailsModel

@{
    ViewBag.Title = "订单详细";
}

<h2>Details</h2>

<div>
    <h4>OrderDatailsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessLicense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessLicense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceNumber)
        </dd>

    </dl>
</div>
