@model Models.Order.OrderDatailsModel

@{
    ViewBag.Title = "订单详细";
}
<div class="orderDetails">
    <h4 class="text-primary">基本信息</h4>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessLicense)
        </dt>

        <dd>
            <a href=@Model.BusinessLicense target="_blank">查看</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
    <div class="clearfix"></div>
    <h4 class="text-primary">投保批次</h4>
    @{
        if (Model.orderBatch.Count > 0)
        {
            foreach (var item in Model.orderBatch)
            {
                <dl>
                    <dt>
                        批次编号
                    </dt>
                    <dd>
                        @item.BId
                    </dd>
                    <dt>
                        批次状态
                    </dt>
                    <dd>
                        @item.BState
                    </dd>
                    <dt>
                        人员资料Excel
                    </dt>
                    <dd>
                        @if (string.IsNullOrEmpty(item.EmpInfoFile))
                        {
                            <span>暂无</span>
                        }
                        else
                        {
                            <a href=@item.EmpInfoFile target="_blank">下载</a>
                        }
                    </dd>
                    <dt>
                        人员资料盖章PDF
                    </dt>
                    <dd>
                        @if (string.IsNullOrEmpty(item.EmpInfoFileSeal))
                        {
                            <span>暂无</span>
                        }
                        else
                        {
                            <a href=@item.EmpInfoFileSeal target="_blank">下载</a>
                        }
                    </dd>
                    <dt>
                        投保盖章文件
                    </dt>
                    <dd>
                        @if (string.IsNullOrEmpty(item.PolicySeal))
                        {
                            <span>暂无</span>
                        }
                        else
                        {
                            <a href=@item.PolicySeal target="_blank">下载</a>
                        }
                    </dd>
                    <dt>
                        付款通知书
                    </dt>
                    <dd>
                        @if (string.IsNullOrEmpty(item.PaymentNoticePDF))
                        {
                            <span>暂无</span>
                        }
                        else
                        {
                            <a href=@item.PaymentNoticePDF target="_blank">下载</a>
                        }
                    </dd>
                    <dt>
                        投保操作时间
                    </dt>
                    <dd>                     
                        @if (item.PolicyHolderDate != DateTime.MinValue)
                        {
                            <span>@item.PolicyHolderDate</span>
                        }
                    </dd>
                    <dt>
                        Inscoo确认时间
                    </dt>
                    <dd>
                        @if (item.InscooConfirmDate != DateTime.MinValue)
                        {
                            <span>@item.InscooConfirmDate</span>
                        }
                    </dd>
                    <dt>
                        财务确认时间
                    </dt>
                    <dd>
                        @if (item.FinanceDate != DateTime.MinValue)
                        {
                            <span>@item.FinanceDate</span>
                        }
                    </dd>
                    <dt>
                        财务收款时间
                    </dt>
                    <dd>
                        @if (item.CollectionDate != DateTime.MinValue)
                        {
                            <span>@item.CollectionDate</span>
                        }
                    </dd>
                    <dt>
                        收款金额
                    </dt>
                    <dd>
                        @item.AmountCollected
                    </dd>
                    <dt>
                        财务审核意见
                    </dt>
                    <dd>
                        @item.FinanceMemo
                    </dd>
                    <dt>
                        转账凭证
                    </dt>
                    <dd>
                        @item.TransferVoucher
                    </dd>
                    <dt>
                        保险公司确认时间
                    </dt>
                    <dd>
                        @if (item.InsurerConfirmDate != DateTime.MinValue)
                        {
                            <span>@item.InsurerConfirmDate</span>
                        }
                    </dd>
                    <dt>
                        快递单号
                    </dt>
                    <dd>
                        @item.CourierNumber
                    </dd>
                    <dt>
                        保险公司审核意见
                    </dt>
                    <dd>
                        @item.InsurerMemo
                    </dd>
                </dl>
                <hr />
            }
        }
    }
    <div class="clearfix"></div>
    <h4 class="text-primary">人员信息</h4>
    @using (Ajax.BeginForm("DetailsEmp", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "dadaGrid" }, new { id = "employeeInfo" }))
    {
        <input type="hidden" name="Id" value=@Model.Id />
        <div id="dadaGrid">
            @Html.Action("DetailsEmp", new { id = Model.Id })
        </div>
    }
    <div class="clearfix"></div>
    @Html.Action("AuditOrder",new { id=Model.Id})
</div>
