
@model IEnumerable<Models.Order.OrderEmployeeModel>

<h4 class="text-primary_color"><span>投保人员变更信息</span></h4>
<div class="table-responsive">
    <table class="table orderDetailsTable table-bordered ">
        <tr>
            <th>
                编号
            </th>
            <th>
                类型
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasSocialSecurity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
        </tr>
        @{
            var i = 1;
            foreach (var item in Model)
            {
                var cssClass = "";
                var type = "";
                if (item.BuyType == 1)
                {
                    cssClass = "success";
                    type = "加保";
                }
                if (item.BuyType == 2)
                {
                    cssClass = "danger";
                    type = "减保";
                }
                <tr class=@cssClass>
                    <td>
                        <span>@i</span>
                    </td>
                    <td>
                        <span>@type</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDNumber)
                    </td>
                    <td>
                        @item.Birthday.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Premium)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankCard)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasSocialSecurity)
                    </td>
                    <td>
                        @item.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @item.EndDate.ToShortDateString()
                    </td>
                </tr>
            }}
    </table>
</div>
@{
    PageCommand command = ViewBag.pageCommand;
    @Html.Pager(command, null, "empTempInfo")
}
