@model IEnumerable<Models.Order.OrderListModel>

<table class="table table-bordered table-style-control">
    <tr style="background-color:#24A9E4;color:#fff;">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualExpense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        //var cssClass = "";
        //if (item.State < 3)
        //{
        //    cssClass = "active";
        //}
        //else
        //{
        //    cssClass = "success";
        //}
        //<tr class=@cssClass>
        <tr>
            <td>
                <a href="/Order/Details/@item.Id">@item.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateDesc)
            </td>
            <td>
                @if (item.StartDate == DateTime.MinValue)
                {
                    <span style="color:#ff6a00">未确认</span>
                }
                else
                {
                    <span>@item.StartDate.ToShortDateString()</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @{ if (item.State < 6)
                    {
                        string role = ViewBag.role.ToLower();
                        if (!string.IsNullOrEmpty(role))
                        {
                            if (role == "admin")
                            {
                                @Ajax.ActionLink("删除", "Delete", new { id = item.Id, oType = 2 }, new AjaxOptions { HttpMethod = "post", Confirm = "确定要删除该数据？", UpdateTargetId = "dadaGrid" }, new { @style = "color:green" })
                            }
                        }
                    }
                }

            </td>
        </tr>
                    }
</table>
@{
    PageCommand command = ViewBag.pageCommand;
    @Html.Pager(command)
}
