@model IEnumerable<Models.Order.OrderListModel>

<table class="table table-bordered table-style-control">
    <tr style="background-color:#24A9E4;color:#fff;">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualExpense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.State > 3)
                {
                    <a href="/Order/Details/@item.Id">@item.Name</a>
                }
                else
                {
                    <span>@item.Name</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @switch (item.State)
                {
                    case 2:
                        @Html.ActionLink(item.StateDesc, "EntryInfo", new { id = item.Id })
                        break;
                    case 3:
                        @Html.ActionLink(item.StateDesc, "UploadFile", new { id = item.Id })
                        break;
                    case 4:
                        @Html.ActionLink(item.StateDesc, "ConfirmPayment", new { id = item.Id })
                        break;
                    default:
                        @Html.DisplayFor(modelItem => item.StateDesc)
                        break;
                }
            </td>
            <td>
                @if (item.StartDate != DateTime.MinValue)
                {
                    @Html.DisplayFor(modelItem => item.StartDate)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @{
                    if (item.State == 1)
                    {
                        @Html.ActionLink("继续", "EntryInfo", new { id = item.Id }) <span>|</span>
                    }
                    if (item.State == 2)
                    {
                        @Html.ActionLink("继续", "UploadFile", new { id = item.Id }) <span>|</span>
                    }
                    if (item.State == 3)
                    {
                        @Html.ActionLink("继续", "ConfirmPayment", new { id = item.Id }) <span>|</span>
                    }
                    if (item.State < 6)
                    {
                        @Ajax.ActionLink("删除", "Delete", new { id = item.Id, oType = 1 }, new AjaxOptions { HttpMethod = "post", Confirm = "确定要删除该数据？", UpdateTargetId = "dadaGrid" }, new { @style = "color:green" })
                    }
                }
            </td>
        </tr>
                    }
</table>
@{
    PageCommand command = ViewBag.pageCommand;
    @Html.Pager(command)
}