
@{
    ViewBag.Title = "未付订单";
}


@using (Ajax.BeginForm("List", null, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "dadaGrid" }, new { @id = "searchForm" }))
{
    @Html.AntiForgeryToken()
    <div class="Search">
        <dl>
            <dt>方案名称:</dt>
            <dd><input type="text" name="name" value="" placeholder="请输入方案名称" /></dd>
            <dt>时间起:</dt>
            <dd>
                <input type="text" readonly="readonly" name="beginDate" class="form-control" value="@DateTime.Now.ToShortDateString()">
            </dd>
            <dt>时间止:</dt>
            <dd>
                <input type="text" readonly="readonly" name="endDate" class="form-control" value="@DateTime.Now.AddDays(4).ToShortDateString()">
            </dd>
            <dt></dt>
            <dd><p><input type="submit" value="查找" /></p></dd>
        </dl>
        <p class="clearfix"></p>
    </div>
    <div id="dadaGrid">
        @Html.Action("OrderToPayList")
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery(function () {
            jQuery("[name='beginDate']")
                .datepicker({
                    //startDate:'@DateTime.Now.ToShortDateString()'
                });
            jQuery("[name='endDate']")
                .datepicker({
                    //startDate:'@DateTime.Now.AddDays(4).ToShortDateString()'
                });
        });
    </script>
}

