@model Models.Order.UploadInfoModel
@{
    ViewBag.Title = "上传文件";
}

<div class="orderConfirm">
    <ul class="orderConfirmLi">
        <li>
            <i class="fa fa-save fa-2x"></i>
            <span>方案确认</span>
        </li>
        <li>
            <i class="fa fa-edit fa-2x"></i>
            信息填写
        </li>
        <li class="orderConfirmLiActive">
            <i class="fa fa-cloud-upload fa-2x"></i>
            上传文件
        </li>
        <li>
            <i class="fa fa-usd fa-2x"></i>
            确认付款
        </li>
    </ul>
</div>
<div style="height:5em;width:100%">
</div>
@using (Html.BeginForm("UploadBusinessLicensePdf", "Order", FormMethod.Post, new { @class = "orderEntryInfoBody", enctype = "multipart/form-data", onsubmit = Html.Raw("return checkFile('2')") }))
{
    <ul class="unloadFile">
        <li>
            <label>
                营业执照(加盖公章)
            </label>
        </li>
        <li>
            <input type="hidden" value=@Model.Id name="Id" />
            <input type="file" id="BusinessLicensePdfSeal" name="BusinessLicensePdfSeal" />
        </li>
        <li>
            <input type="submit" value="上传" class="btn btn-default" />
            <a href=@Model.BusinessLicenseTemp target="_blank" class="btn btn-default">下载模板</a>
            请将文件压缩后上传
        </li>
    </ul>
}
@using (Html.BeginForm("UploadEmpInfoPdf", "Order", FormMethod.Post, new { @class = "orderEntryInfoBody", enctype = "multipart/form-data", onsubmit = Html.Raw("return checkFile('1')") }))
{
    <ul class="unloadFile">
        <li>
            <label>
                员工名单(加盖公章)
            </label>
        </li>
        <li>
            <input type="hidden" value=@Model.Id name="Id" />
            <input type="file" id="EmpInfoPdfSeal" name="EmpInfoPdfSeal" />
        </li>
        <li>
            <input type="submit" value="上传" class="btn btn-default" />
            <a href=@Model.EmpInfoFilePDFUrl target="_blank" class="btn btn-default">名单下载</a>
            请将文件压缩后上传
        </li>
    </ul>
}
@using (Html.BeginForm("UploadPolicyPdfSeal", "Order", FormMethod.Post, new { @class = "orderEntryInfoBody", enctype = "multipart/form-data", onsubmit = Html.Raw("return checkFile('3')") }))
{
    <ul class="unloadFile">
        <li>
            <label>
                投保单(加盖公章)
            </label>
        </li>
        <li>
            <input type="hidden" value=@Model.Id name="Id" />
            <input type="file" id="PolicyPdfSeal" name="PolicyPdfSeal" />
        </li>
        <li>
            <input type="submit" value="上传" class="btn btn-default" />
            <a href=@Model.InsurancePolicyTemp target="_blank" class="btn btn-default">下载模板</a>
            请将文件压缩后上传
        </li>
    </ul>
}
<div style="min-height:2em;width:90%;text-align:left;line-height:2em;margin:.5em auto;">
    <span style="color:#333">注意：重新上传会覆盖之前的文件。</span><br />
    <span style="color:gray">1.营业执照只能上传JPG/PNG/PDF//Doc或者压缩文件</span><br />
    <span style="color:gray">2.员工名单/投保单只能上传ZIP/RAR格式压缩文件</span><br />
    <span class="text-danger" id="errorInfo"></span>
</div>
@if (Model.HasBusinessLicense || Model.HasEmpInfoFilePDFSeal || Model.HasInsurancePolicy)
{
    <div class="uploadInfo">
        <dl>
            <dt>已上传资料</dt>
            @if (Model.HasBusinessLicense)
            {
                <dd>
                    <ul>
                        <li>营业执照(加盖公章)</li>
                        <li>
                            <span>已上传</span>
                            <a href=@Model.BusinessLicenseSealUrl>查看</a>
                            @Html.ActionLink("删除", "DeleteFile", new { id = Model.Id, fType = 1 },new { @style = "color:red;" })
                        </li>
                    </ul>
                </dd>
            }
            @if (Model.HasEmpInfoFilePDFSeal)
            {
                <dd>
                    <ul>
                        <li>员工名单(加盖公章)</li>
                        <li>
                            <span>已上传</span>
                            <a href=@Model.EmpInfoFilePDFSealUrl>查看</a>
                            @Html.ActionLink("删除", "DeleteFile", new { id = Model.Id, fType = 2 }, new { @style = "color:red;" })
                        </li>
                    </ul>
                </dd>
            }
            @if (Model.HasInsurancePolicy)
            {
                <dd>
                    <ul>
                        <li>投保单(加盖公章)</li>
                        <li>
                            <span>已上传</span>
                            <a href=@Model.InsurancePolicySealUrl>查看</a>
                            @Html.ActionLink("删除", "DeleteFile", new { id = Model.Id, fType = 3 }, new { @style = "color:red;" })
                        </li>
                    </ul>
                </dd>
            }
        </dl>
    </div>
}
@using (Html.BeginForm("UploadFile", "Order", FormMethod.Post, new { @class = "orderConfirmBodyNext" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div>
        <a href="/Order/EntryInfo/@Model.Id ">返回</a>
    </div>
    <div>
        @if (Model.HasBusinessLicense && Model.HasEmpInfoFilePDFSeal && Model.HasInsurancePolicy)
        {
            <input type="submit" value="下一步" class="orderConfirmNextSubmit" />
        }
        else
        {
            <input type="button" value="下一步" onclick="msg()" class="orderConfirmNextSubmit" />
        }
    </div>
}

<form onsubmit=""></form>
@section Scripts {
    <script>
        function msg() {
            $("#errorInfo").text("请先上传所有资料！");
        }
        function checkFile(e) {
            var errorInfo = $("#errorInfo");
            var empFile = $("#EmpInfoPdfSeal").val();
            var blFile = $("#BusinessLicensePdfSeal").val();
            var ppFile = $("#PolicyPdfSeal").val();
            var s = parseInt(e);
            var pf = '';
            switch (s) {
                case 1:
                    if (empFile == '') {
                        errorInfo.text("未选择任何文件！");
                        return false;
                    }
                    pf = (empFile.substring(empFile.lastIndexOf(".") + 1, empFile.length)).toLowerCase();
                    if (pf == 'zip' || pf == 'rar') {
                        return true;
                    } else {
                        errorInfo.text("员工名单只能上传压缩文件，请压缩后再重新上传！");
                    }
                    break;
                case 2:
                    if (blFile == '') {
                        errorInfo.text("未选择任何文件！");
                        return false;
                    }
                    pf = (blFile.substring(blFile.lastIndexOf(".") + 1, blFile.length)).toLowerCase();
                    if (pf == 'zip' || pf == 'rar' || pf == 'doc' || pf == 'pdf' || pf == 'jpg' || pf == 'png') {
                        return true;
                    } else {
                        errorInfo.text("营业执照只能上传PDF/WORLD，或者压缩文件，请重新上传！");
                    }
                    break;
                case 3:
                    if (ppFile == '') {
                        errorInfo.text("未选择任何文件！");
                        return false;
                    }
                    pf = (ppFile.substring(ppFile.lastIndexOf(".") + 1, ppFile.length)).toLowerCase();
                    if (pf == 'zip' || pf == 'rar') {
                        return true;
                    } else {
                        errorInfo.text("投保单只能上传压缩文件，请压缩后再重新上传！");
                    }
                    break;
            }
            return false;
        }
    </script>
}