@model IEnumerable<Models.Order.OrderEmployeeModel>
@if (Model.Any())
{
    <div class="orderConfirmBody form-inline ">
        <dl>
            <dt>投保人员信息</dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BirBirthday)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Premium)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BankCard)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BankName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HasSocialSecurity)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BirBirthday)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Premium)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BankCard)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BankName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HasSocialSecurity)
                            </td>
                        </tr>
                    }
                </table>
                @{
                    PageCommand command = ViewBag.pageCommand;
                    @Html.Pager(command)
                }
            </dd>
        </dl>
    </div>}