@model Models.Order.UploadInfoModel
@{
    ViewBag.Title = "上传文件";
}

<div class="orderConfirm">
    <ul class="orderConfirmLi">
        <li>
            <i class="fa fa-save fa-2x"></i>
            <span>方案确认</span>
        </li>
        <li>
            <i class="fa fa-edit fa-2x"></i>
            信息填写
        </li>
        <li class="orderConfirmLiActive">
            <i class="fa fa-cloud-upload fa-2x"></i>
            上传文件
        </li>
        <li>
            <i class="fa fa-usd fa-2x"></i>
            确认付款
        </li>
    </ul>
</div>
<div class="text-center text-danger" style="min-height: 35px">
    @if (TempData["errorMes"] != null)
    {
        <span id="errorInfo">@TempData["errorMes"].ToString()</span>
    }
    else
    {
        <span id="errorInfo"></span>
    }
</div>
@using (Html.BeginForm("UploadBusinessLicensePdf", "Order", FormMethod.Post, new { @class = "orderEntryInfoBody orderEntryInfoBody-loadfile", enctype = "multipart/form-data", onsubmit = Html.Raw("return checkFile('2')") }))
{

    <div>
        <label style="color: #24a9e4">
            <i class="fa fa-edit fa-2x"></i> 营业执照
        </label>
        <a href=@Model.BusinessLicenseTemp target="_blank" style="color: red">查看示例</a>
    </div>
    <ul class="unloadFile">
        <li>
            <span style="font-size: larger">请上传加盖公章的营业执照</span>
            <input type="hidden" value=@Model.Id name="Id" />

        </li>
        <li>
            <a href="javascript:;" class="a-upload">
                <input type="file" id="BusinessLicensePdfSeal" required name="BusinessLicensePdfSeal" />+ 浏览
            </a>
            <span class="lab" style="height: 28px; line-height: 28px;">@*未选择上传文件*@</span>
            <input type="submit" value="上传" class="btn btn-default" style="max-width: 70px" />
        </li>
        <li>
            <div class="uploadInfo">
                @if (Model.HasBusinessLicense)
                {
                    <div>
                        <span><i class="fa fa-check"></i>已上传</span>
                        <a href=@Model.BusinessLicenseSealUrl target="_blank">查看</a>
                        @Html.ActionLink("删除", "DeleteFile", new { id = Model.Id, fType = 1 }, new { @style = "color:red;" })
                    </div>
                }
            </div>
        </li>
    </ul>
}
@using (Html.BeginForm("UploadEmpInfoPdf", "Order", FormMethod.Post, new { @class = "orderEntryInfoBody orderEntryInfoBody-loadfile", enctype = "multipart/form-data", onsubmit = Html.Raw("return checkFile('1')") }))
{
    <input type="hidden" value=@Model.Id name="Id" />
    <div>

        <label style="color: #24a9e4">
            <i class="fa fa-edit fa-2x"></i> 员工名单
        </label>
    </div>
    <ul class="unloadFile">
        <li>
            <span style="font-size: larger">1.下载员工名单（系统生成）</span>
        </li>
        <li>
            <a href=@Model.EmpInfoFilePDFUrl target="_blank" class="btn btn-default">名单下载</a>
        </li>
    </ul>
    <ul class="unloadFile">
        <li>
            <span style="font-size: larger">2. 上传员工名单（加盖公章）</span>
        </li>
        <li>
            <a href="javascript:;" class="a-upload">
                <input type="file" id="EmpInfoPdfSeal" name="EmpInfoPdfSeal" />+ 浏览
            </a>
            <span class="lab" style="height: 28px; line-height: 28px;">@*未选择上传文件*@</span>
            <input type="submit" value="上传" class="btn btn-default" style="max-width: 70px" />
        </li>
        <li>
            <div class="uploadInfo">
                @if (Model.HasEmpInfoFilePDFSeal)
                {
                    <div>
                        <span><i class="fa fa-check"></i>已上传</span>
                        <a href=@Model.EmpInfoFilePDFSealUrl>查看</a>
                        @Html.ActionLink("删除", "DeleteFile", new { id = Model.Id, fType = 2 }, new { @style = "color:red;" })
                    </div>
                }
            </div>
        </li>
    </ul>
}
@using (Html.BeginForm("UploadPolicyPdfSeal", "Order", FormMethod.Post, new { @class = "orderEntryInfoBody orderEntryInfoBody-loadfile", enctype = "multipart/form-data", onsubmit = Html.Raw("return checkFile('3')") }))
{
    <input type="hidden" value=@Model.Id name="Id" />
    <div>
        <label style="color: #24a9e4">
            <i class="fa fa-edit fa-2x"></i>投保单
        </label>
    </div>
    <ul class="unloadFile">
        <li>
            <span style="font-size: larger">1. 下载投保单并填写</span>
        </li>
        <li>
            <a href=@Model.InsurancePolicyTemp target="_blank" class="btn btn-default">投保单下载</a>
        </li>
    </ul>
    <ul class="unloadFile">
        <li>
            <span style="font-size: larger">2. 上传投保单（加盖公章）</span>
        </li>
        <li>

            <a href="javascript:;" class="a-upload">
                <input type="file" id="PolicyPdfSeal" name="PolicyPdfSeal" />+ 浏览
            </a>
            <span class="lab" style="height: 28px; line-height: 28px;">@*未选择上传文件*@</span>
            <input type="submit" value="上传" class="btn btn-default" style="max-width: 70px" />
        </li>
        <li>
            <div class="uploadInfo">
                @if (Model.HasInsurancePolicy)
                {
                    <div>
                        <span><i class="fa fa-check"></i>已上传</span>
                        <a href=@Model.InsurancePolicySealUrl>查看</a>
                        @Html.ActionLink("删除", "DeleteFile", new { id = Model.Id, fType = 3 }, new { @style = "color:red;" })
                    </div>
                }
            </div>
        </li>
    </ul>
}
<div style="height:5em;width:100%;height:auto;">
    <div style="min-height:2em;width:90%;text-align:left;line-height:2em;margin:.5em auto;">
        <span style="color:#333">注意：重新上传会覆盖之前的文件！</span><br />
        <span style="color: gray">1.营业执照员工名单/投保单只能上传JPG/PNG/PDF/Doc/ZIP/RAR格式压缩文件</span><br />
        <span style="color:gray">2.员工名单只能上传JPG/PNG/PDF/ZIP/RAR格式压缩文件</span><br />
        <span style="color:gray">3.如果文件超过2M,请将文件压缩后上传</span><br />

    </div>
</div>
@using (Html.BeginForm("UploadFile", "Order", FormMethod.Post, new { @class = "orderConfirmBodyNext" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div>
        <a href="/Order/EntryInfo/@Model.Id ">返回</a>
    </div>
    <div>
        @if (Model.HasBusinessLicense && Model.HasEmpInfoFilePDFSeal && Model.HasInsurancePolicy)
{
            <input type="submit" value="下一步" class="orderConfirmNextSubmit" />
        }
        else
        {
            <input type="button" value="下一步" onclick="msg()" class="orderConfirmNextSubmit" />
        }
    </div>
}


<form onsubmit=""></form>
@section Scripts {
    <script>

        function msg() {
            $("#errorInfo").text("请先上传所有资料！");
        }
        function checkFile(e) {
            var errorInfo = $("#errorInfo");
            var empFile = $("#EmpInfoPdfSeal").val();
            var blFile = $("#BusinessLicensePdfSeal").val();

            var ppFile = $("#PolicyPdfSeal").val();
            var s = parseInt(e);
            var pf = '';
            switch (s) {
                case 1:
                    if (empFile == '') {
                        errorInfo.text("未选择任何文件！");
                        return false;
                    }
                    pf = (empFile.substring(empFile.lastIndexOf(".") + 1, empFile.length)).toLowerCase();
                    if (pf == 'zip' || pf == 'rar' || pf === '7z' || pf == 'pdf' || pf == 'jpg' || pf == 'png') {
                        return true;
                    } else {
                        errorInfo.text("员工名单格式不正确！");
                    }
                    break;
                case 2:
                    if (blFile == '') {
                        errorInfo.text("未选择任何文件！");
                        return false;
                    }
                    pf = (blFile.substring(blFile.lastIndexOf(".") + 1, blFile.length)).toLowerCase();
                    //console.log(pf);
                    if (pf === 'zip' || pf === 'rar' || pf === '7z' || pf === 'doc' || pf === 'pdf' || pf === 'jpg' || pf === 'png') {
                        return true;
                    } else {
                        errorInfo.text("营业执照格式不正确！");
                    }
                    break;
                case 3:
                    if (ppFile == '') {
                        errorInfo.text("未选择任何文件！");
                        return false;
                    }
                    pf = (ppFile.substring(ppFile.lastIndexOf(".") + 1, ppFile.length)).toLowerCase();
                    if (pf == 'zip' || pf == 'rar' || pf == 'pdf') {
                        return true;
                    } else {
                        errorInfo.text("投保单格式不正确");
                    }
                    break;
            }
            return false;
        }
    </script>
}
