@{
    if (ViewBag.FileType == 0)
    {
        ViewBag.Title = "上传车险Excel";
    }
    else
    {
        ViewBag.Title = "上传退保车险Excel清单";
    }
}
@using (Html.BeginForm("CarInscuranceCreate", "Insurance", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="excelId" name="excelId" value="@ViewBag.ExcelId" />
    <input type="hidden" id="fileType" name="fileType" value="@ViewBag.FileType" />
    <div class="form-horizontal formCreate">
        <br />

        <div class="form-group">
            <label class="control-label col-md-3">上传Excel</label>
            <div class="col-md-7">
                <a href="javascript:;" class="a-upload">
                    <input type="file" name="excel" id="excel" required="" />+ 浏览
                </a>
                <span class="lab" style="height: 28px; line-height: 28px;"></span>
                @if (ViewBag.FileType == 1)
                {
                    <a href="~/Archive/Template/TuiBaoExcelTemplate.xlsx" style="margin-left:10px">
                        下载模板
                    </a>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="col-md-7">
                <input type="submit" class="btn btn-info" value="提交" />
                @if (ViewBag.FileType == 0)
                {
                    @Html.ActionLink("返回列表", "CarInscuranceSearch", new { }, new { @class = "btn btn-default" })
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="col-md-9">
                @if (ViewBag.Mes == "上传成功")
                {
                    <div class="alert alert-success">上传成功</div>
                }
                else if (ViewBag.Mes != null)
                {
                    <div class="alert alert-danger">@ViewBag.Mes</div>
                }
            </div>
        </div>
    </div>
    if (ViewBag.FileType == 1)
    {
        using (Ajax.BeginForm("CarInscuranceList", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "dadaGrid" }, new { @class = "form-inline", role = "form", id = "searchForm" }))
        {
            <input type="hidden" id="fileType" name="fileType" value="1" />
            <div id="dadaGrid">
                @Html.Action("CarInscuranceList", new { FileType = 1 })
            </div>
        }
    }
}