@{
    if (ViewBag.FileType == 0)
    {
        ViewBag.Title = "车险列表";
    }
    else
    {
        ViewBag.Title = "车险退保列表";
    }
}
<div class="Search">
    <dl>

        @if (ViewBag.CanCreate)
            {
            <dt></dt>
            <dd>
                <p>  @Html.ActionLink("新建", "CarInscuranceCreate", new { fileType = 0 }, new { @class = "btn btn-primary", style = "margin-left:0.5em;width:90%" })</p>
            </dd>
        }
        <dt>
        </dt>
        <dd>
            <p>  @Html.ActionLink("保险清单", "CarInscuranceDetailSearch", new { }, new { @class = "btn btn-primary", style = "margin-left:0.5em;width:90%" })</p>
        </dd>
        <dt></dt>
        <dd>
            <p>  @Html.ActionLink("退保上传", "CarInscuranceCreate", new { fileType = 1 }, new { @class = "btn btn-primary", style = "margin-left:0.5em;width:90%" })</p>
        </dd>

        @*<dt></dt>
            <dd>
                <p> <input type="submit" value="查找" /></p>
            </dd>*@
    </dl>
    <p class="clearfix"></p>
</div>
@using (Ajax.BeginForm("CarInscuranceList", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "dadaGrid" }, new { @class = "form-inline", role = "form", id = "searchForm" }))
{
    <input type="hidden" id="fileType" name="fileType" value="@ViewBag.FileType" />
    <div id="dadaGrid">
        @Html.Action("CarInscuranceList", new { ViewBag.FileType })
    </div>
}

