@model IEnumerable<Models.vCarInsuranceList>
<table class="table table-bordered">
    <tr style="background-color:#24A9E4;color:#fff;">
        <th>
            文件名
        </th>
        <th>
            上传时间
        </th>
        <th>
            上传人
        </th>
        <th>
            电子保单号码
        </th>
        <th style="min-width: 180px">
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExcelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExceCreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExceCreateUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EOrderCode)
            </td>


            <td>
                <a href="@item.ExceUrl" target="blank">下载</a>
                @if (ViewBag.CanEdit && string.IsNullOrEmpty(item.EinsuranceUrl))
                {
                    <span>|</span>
                    @Html.ActionLink("更新", "CarInscuranceCreate", new { ExcelId = item.ExcelId })
                    <span>|</span>
                    @Html.ActionLink("删除", "CarInscuranceDelete", new { insuranceId = item.InsuranceId })
                }
                else
                {
                    if (item.Status == "A")
                    {
                        <span>|</span>
                        @Html.ActionLink("上传电子保单", "CarInscuranceUploadEinsurance", new { insuranceId = item.InsuranceId, uKey = item.UniqueKey })
                    }
                    else if (item.Status == "B")
                    {
                        <span>|</span>
                        <a href="@item.EinsuranceUrl" target="blank">电子保单</a>
                        <span>|</span>
                        @Html.ActionLink("继续", "CarInscuranceAddEOrderCode", new { insuranceId = item.InsuranceId, uKey = item.UniqueKey })
                    }
                    else if (item.Status == "C")
                    {
                        <span>|</span>
                        <a href="@item.EinsuranceUrl" target="blank">电子保单</a>
                    }
                }

            </td>



        </tr>
    }
</table>
@{
    PageCommand command = ViewBag.pageCommand;
    @Html.Pager(command)
}
