@model Models.Insurance.CustomProductModel

@{
    ViewBag.Title = "自选产品";
}
<div class="panel-body">
    <ul id="myTab" class="nav nav-tabs">
        @{
            int i = 0;
            foreach (var s in Model.CompanyList)
            {
                if (i == 0)
                {
                    <li class="active">
                        <a href="#@s.Value" data-toggle="tab">@s.Key</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#@s.Value" data-toggle="tab">@s.Key</a>
                    </li>
                }
                i++;
            }
        }
    </ul>
    <div class="tab-content">
        @{
            var n = 0;
            var compangName = "";
            foreach (var s in Model.CompanyList)
            {
                var radioName = s.Value + "ProductType";
                var ProductName = "Product_" + s.Value;
                var staffsNumName = "StaffsNumber_" + s.Value;
                var AvarageName = "Avarage_" + s.Value;
                var isShow = "";
                var onchangeFun = "getProduct(c='" + s.Value + "',p=0)";
                if (n == 0)
                {
                    isShow = " in active";
                }
                compangName += "getPriceAndIds(e='" + s.Value + "',p=1);";
                <div class="tab-pane fade @isShow" id="@s.Value">
                    <div class="programme-query">
                        <label class="checkbox-inline">
                            <input type="radio" name=@radioName value="员工福利保险" checked="checked" onchange="getProduct('@Html.Raw(s.Value)', this.value)" />
                            员工福利保险
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name=@radioName value="雇主责任保险" onchange="getProduct('@Html.Raw(s.Value)', this.value)" />
                            雇主责任保险
                        </label>
                        <label class="checkbox-inline">
                            @Html.DisplayNameFor(m => m.StaffsNumber)
                            @Html.DropDownList(staffsNumName, Model.StaffsNumber, new { onchange = Html.Raw(onchangeFun) })
                        </label>
                        <label class="checkbox-inline">
                            @Html.DisplayNameFor(m => m.Avarage)
                            @Html.DropDownList(AvarageName, Model.Avarage, new { onchange = Html.Raw(onchangeFun) })
                        </label>
                    </div>
                    <div id="@ProductName">
                        @Html.Action("ProductList", new { company = s.Value, })
                    </div>
                </div>
                n++;
            }
            @section scripts{
                <script>
                    $(document).ready(function () {
                        @Html.Raw(compangName)
                    });
                    function getProduct(e, p) {
                        if (p == "0") {
                            var radioName = e + "ProductType";
                            p = $("#" + radioName).val();
                        }
                        var stuffsNum = $("#StaffsNumber_" + e).val();
                        $.ajax({
                            type: 'get',
                            async: false,
                            url: '/Insurance/ProductList',
                            data: { company: e, productType: p, stuffsNum: stuffsNum },
                            success: function (da) {
                                document.getElementById('Product_' + e).innerHTML = da;
                                getPriceAndIds(e, 10);
                            }
                        });
                    }
                    function getPriceAndIds(c, e) {
                        var ids = new Array();
                        var total = 0;
                        for (var j = 1; j <= e; j++) {
                            var isChecked = $("#check_" + c + "_" + j).is(':checked');
                            if (isChecked) {
                                var cove = $("#CoverageSum_" + c + "_" + j).val();
                                var payrat = $("#PayoutRatio" + c + "_" + j).val();
                                var price = $("#price" + c + "_" + j);
                                var StaffsNumber = $("#StaffsNumber_" + c).val();
                                var AvarageName = $("#Avarage_" + c).val();
                                var totalLab = $("#total_" + c);
                                var idsele = $("#productIds_" + c);
                                var data = "";
                                if (typeof (payrat) == "undefined") {
                                    data = { cid: cove, staffsNumber: StaffsNumber, avarage: AvarageName };
                                }
                                else {
                                    data = { cid: cove, payrat: payrat, staffsNumber: StaffsNumber, avarage: AvarageName };
                                }
                                $.ajax({
                                    type: 'post',
                                    url: '/Insurance/GetProductPrice',
                                    async: false,
                                    data: data,
                                    success: function (da) {
                                        var pr = parseFloat(da.price);
                                        var id = parseInt(da.id);
                                        if (typeof (pr) == "number" && !isNaN(pr) && typeof (id) == "number") {
                                            total += pr;
                                            price.text(da.price);
                                            ids.push(id);
                                        }
                                        else {
                                            price.text("无可选产品");
                                        }
                                    }
                                });
                            }
                            else {
                                $("#price" + c + "_" + j).text("0.00");
                            }
                            totalLab.text(total.toFixed(2));
                            idsele.val(ids);
                        }
                    }
                </script>
            }
        }
    </div>
</div>
