@model IEnumerable<Models.Insurance.RecommendationModel>

<div class="product-type">
    <select name="product-type" class="main-product">
        <option value="0">--请选择产品类型--</option>
        <option value="1">中高端员工福利保险</option>
        <option value="2">企业团体保险</option>
        <option value="3">短期旅行险及意外险</option>
    </select>
</div>
<div class="panel inscooCase">
    <div class="inscooCase-title-left">
        <strong>选择一个方案</strong>
        <span>SELECT A PROGRAMME</span>
    </div>
    
    <div class="panel-body inscooCase-body">
        @{
            var ids = "";
            int icon = 1;
            foreach (var item in Model)
            {
                if (icon == Model.Count())
                {
                    ids += item.Id;
                }
                else
                {
                    ids += item.Id + ",";
                }

                var src = "/Content/img/p" + icon + ".jpg";
                icon++;
                <div class="inscoo-programme-left">
                    <a>
                        <img onclick="showDetails(@item.Id)" src="@src" class="img-circle" />
                    </a>
                    <p>  @Html.DisplayFor(modelItem => item.Name)</p>
                </div>

            }
            <input type="hidden" id="ids" value="@ids" />
        }
    </div>
</div>
@{
    var i = 0;
    foreach (var item in Model)
    {
        var isHide = "";
        if (i > 0)
        {
            isHide = "style=display:none;";
        }
        <div class="panel inscooCase" @isHide id="programme_@item.Id">
            <div class="inscooCase-title-right">
                <b>@item.Name</b>
            </div>
            <div class="panel-body">
                <table class="programme-details">
                    <tr>
                        <th>保障项目</th>
                        <th>保障额度</th>
                    </tr>
                    @foreach (var s in item.item)
                    {
                        <tr>
                            <td>
                                <span class="toggle_color show_color"></span>
                                @s.SafefuardName
                            </td>
                            <td>@s.CoverageSum</td>
                        </tr>
                        <tr> 
                            <td colspan="2"  class="hideDeclare" style="text-align:left">
                                <span>被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害身故的，保险人按保险金额给付身故保险金.被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害身故的，保险人按保险金额给付身故保险金.</span>&nbsp;&nbsp;
                                <a class="">请查看保险条款</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <th style="color:#83BA21">@Html.DisplayNameFor(model => model.StaffRange)</th>
                        <th style="color:#83BA21">@item.StaffRange</th>
                    </tr>
                    <tr>
                        <th style="color:#83BA21">@Html.DisplayNameFor(model => model.AgeRange)</th>
                        <th style="color:#83BA21">@item.AgeRange</th>
                    </tr>
                </table>
                @using (Html.BeginForm("Buy", "Order", FormMethod.Post))
                {
                    <div class="programme-price">@item.Price / 年</div>
                    <!--<p class="programme-clause"><a href="/">保险条款</a></p>-->
                    <p class="programme-clause">

                        <input type="hidden" name="CustomizeProductId" value=@item.Id />
                        <input type="submit" value="立即购买" class="btn btn-success" />
                    </p>
                }
            </div>
        </div>
        i++;
    }
}
<script>
    function showDetails(e) {
        var ary = new Array();
        var ids = $('#ids').val();
        ary = ids.split(',');
        for (var i = 0; i < ary.length; i++) {
            if (e == ary[i]) {
                $('#programme_' + ary[i]).show();
            }
            else {
                $('#programme_' + ary[i]).hide();
            }
        }
    }
</script>