@model IEnumerable<Models.Insurance.ProductListModel>

<div class="describe_name">保障利益</div>
<table class="inscoo-productTable">
    <tr>
        <th style="width:8%;">
            @*  *@
        </th>
        <th style="width:35%;">
            @Html.DisplayNameFor(model => model.SafeguardName)
           <span data-toggle="tooltip" class="btn-explain" data-placement="top" title="本险种所能保障的项目"><span class="icon-explain fa fa-question-circle"></span></span>
        </th>
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model.CoverageSum)
            <span data-toggle="tooltip" class="btn-explain" data-placement="top" title="保险公司承担的保险金责任的最高限额"><span class="icon-explain fa fa-question-circle"></span></span>
        </th>
        <th style="width:22%;">
            @Html.DisplayNameFor(model => model.PayoutRatio)
            <span data-toggle="tooltip" class="btn-explain" data-placement="top" title="住院/门诊，如90%/80%代表住院赔付比例为90%，门诊赔付比例为80%"><span class="icon-explain fa fa-question-circle"></span></span>
        </th>
        <th style="width:15%;">
            @Html.DisplayNameFor(model => model.Price)
            <span data-toggle="tooltip" class="btn-explain" data-placement="top" title="获得该保险保障需支付的保险费用"><span class="icon-explain fa fa-question-circle"></span></span>
        </th>
    </tr>
    @{
        if (Model != null)
        {
            var i = 1;
            var pcount = Model.Count();
            foreach (var item in Model.OrderBy(a => a.SafeguardCode))
            {
                <tr>
                    <td rowspan="2">
                        @{
                            var checkName = "check_" + item.InsuredCom + "_" + i;
                            var coveName = "CoverageSum_" + item.InsuredCom + "_" + i;
                            var payratName = "PayoutRatio" + item.InsuredCom + "_" + i;
                            var priceName = "price" + item.InsuredCom + "_" + i;
                            var idname = "id" + item.InsuredCom + "_" + i;
                            var onchangeFun = "getPriceAndIds(c='" + item.InsuredCom + "',e=" + i + ")";

                            if (item.SafeguardName.Contains("人身意外保险") || item.SafeguardName.Contains("死亡伤残责任"))
                            {
                                <input type="checkbox" checked="checked" disabled="disabled" class="check_product" name=@checkName id=@checkName value=@item.SafeguardCode onchange=@Html.Raw(onchangeFun) />
                            }
                            else
                            {
                                <input type="checkbox" name=@checkName id=@checkName class="check_product" value=@item.SafeguardCode onchange=@Html.Raw(onchangeFun) />
                            }
                        }
                    </td>
                    <td style="text-align:left;padding-left:3em">

                        <span class="toggle_color show_color"></span>
                        @Html.DisplayFor(modelItem => item.SafeguardName)
                    </td>
                    <td>
                        @Html.DropDownList(coveName, item.CoverageSumList, new { onchange = Html.Raw(onchangeFun) })
                    </td>
                    <td>
                        @if (item.PayoutRatioList.Count > 0)
                    {
                            @Html.DropDownList(payratName, item.PayoutRatioList, new { onchange = Html.Raw(onchangeFun) })
                        }
                    </td>
                    <td>
                        <b id=@priceName name=@priceName>0.00</b>
                        <input type="hidden" id=@idname value="0" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="hideDeclare" style="text-align:left">
                        <span>@item.ProdMemo</span>&nbsp;&nbsp;
                        @if (!string.IsNullOrEmpty(item.ProvisionPath))
                        {
                            <a href="@item.ProvisionPath" target="_blank">请查看保险条款</a>
                        }
                    </td>
                </tr>
                                    i++;
                                }
                            } }
</table>

@{
    var totalName = "";
    if (Model != null)
    {
        totalName = "total_" + Model.FirstOrDefault().InsuredCom;
    }
    <div class="customProduct_purchase">
        <ul class="customProduct_purchaseul">
            <li style="width:70%;text-align:left;padding-left:7%;">
                <p><span style="margin:0;margin-right:50px;" class=""><b style="vertical-align:middle;margin-top:-3px;font-size:1em" class="fa fa-exclamation-circle"></b> 此报价适用于有社保的1-4类职业</span>
                <a href="http://www.inscoo.com/Archive/InsuranceFiles/A0.pdf" target="_blank">查看职业类别</a>
                <span data-toggle="tooltip" class="btn-explain" data-placement="right" title="不同职业类别的人身风险不同"><span class="icon-explain fa fa-question-circle"></span></span><p>
                <p>总保费：<b id=@totalName style="color:#e4393c">0.00</b>元</p>
            </li>

            <li style="width:30%;height:73px;line-height:73px;margin-top:-10px;">
                @if (Model != null)
                {
                    @Html.Action("Cart", new { company = Model.FirstOrDefault().InsuredCom })
                }
            </li>
        </ul>
    </div>
}