@model IEnumerable<Models.Insurance.ProductListModel>

<table class="inscoo-productTable">
    <tr>
        <th style="width:5%;">

        </th>
        <th style="width:30%;">
            @Html.DisplayNameFor(model => model.SafeguardName)
        </th>
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model.CoverageSum)
        </th>
        <th style="width:30%;">
            @Html.DisplayNameFor(model => model.PayoutRatio)
        </th>
        <th style="width:15%;">
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>
    @{
        var i = 1;
        var pcount = Model.Count();
        foreach (var item in Model.OrderBy(a => a.Id))
        {
            <tr>
                <td>
                    @{
                        var checkName = "check_" + item.InsuredCom + "_" + i;
                        var coveName = "CoverageSum_" + item.InsuredCom + "_" + i;
                        var payratName = "PayoutRatio" + item.InsuredCom + "_" + i;
                        var priceName = "price" + item.InsuredCom + "_" + i;
                        var onchangeFun = "getPriceAndIds(c='" + item.InsuredCom + "',e=" + pcount + ")";

                        if (item.SafeguardName == "人身意外保险" || item.SafeguardName == "死亡伤残责任")
                        {
                            <input type="checkbox" checked="checked" disabled="disabled" name=@checkName id=@checkName value=@item.SafeguardCode onchange=@Html.Raw(onchangeFun) />
                        }
                        else
                        {
                            <input type="checkbox" name=@checkName id=@checkName value=@item.SafeguardCode onchange=@Html.Raw(onchangeFun) />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SafeguardName)
                </td>
                <td>
                    @Html.DropDownList(coveName, item.CoverageSumList, new { onchange = Html.Raw(onchangeFun) })
                </td>
                <td>
                    @if (item.PayoutRatioList.Count > 0)
                    {
                        @Html.DropDownList(payratName, item.PayoutRatioList, new { onchange = Html.Raw(onchangeFun) })
                    }
                </td>
                <td>
                    <b id=@priceName name=@priceName>0.00</b>
                </td>
            </tr>
                            i++;
                        }
    }
</table>
@{
    var totalName = "total_" + Model.FirstOrDefault().InsuredCom;
    <div class="customProduct_purchase">
        <ul class="customProduct_purchaseul">
            <li>
                总保费：<b id=@totalName>0.00</b>
            </li>
            <li>
                @Html.Action("Cart", new { company = Model.FirstOrDefault().InsuredCom })
            </li>
            <li>
                <a href="#">保险条款</a>
            </li>
        </ul>
    </div>
}