@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>重置密码确认</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/base")
    @Styles.Render("~/Content/index")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/base")
</head>
<body>
    <div class="contain" style="overflow-y:visible ">
        <div class="slider">
            <div class="floor floor1">
                <div class="box">
                    <div class="hello">
                        <span class="fontGreen">Hi 我是保酷</span><br>
                        <span class="fontBlack">您企业的健康与保险专家</span>
                    </div>
                    <div class="loginWrp" style="width:400px;color:coral">
                        <h4>
                            你的密码已重置。请
                            <br />
                             @Html.ActionLink("单击此处登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/index")
</body>
</html>
