@model Models.WZCreateModel

@{
    ViewBag.Title = "吴中人力资源";
}

@using (Html.BeginForm("Create", "WZHuman", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (TempData["errorMes"] != null)
    {
        <div class="form-group text-center">
            <div class="alert alert-danger ">@TempData["errorMes"].ToString()</div>
        </div>
    }
    <div class="form-horizontal" style="font-size:13px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="新建" class="btn btn-info" />

                @Html.ActionLink("返回列表", "ListIndex", new { ViewBag.pageIndex }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
