@model IEnumerable<Models.WZListModel>



<table class="table table-bordered table-style-control">
    <tr style="background-color:#24A9E4;color:#fff;">
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            保全操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.ActionLink("保全操作", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.Pager(ViewBag.pageCommand as PageCommand)

