@using Domain


<ul class="nav nav-tabs nav-stacked firstMenu">
    @{
        var allNavs = ViewBag.allNavs as List<Navigation>; }
    @foreach (Navigation n in ViewBag.navPart1)
    {
        <li>
            @if (string.IsNullOrEmpty(n.controller))
            {
                <a href="#@n.name" class="nav-header collapsed" data-toggle="collapse"><i class="@n.htmlAtt"></i>@n.name</a>
                <ul class="nav nav-list collapse secondmenu" id="@n.name">
                    @{
                        var subMenus = allNavs.Where(s => s.pId == n.Id);

                        foreach (Navigation s in subMenus)
                        {
                            <li><a class="son-list"  href='/@s.url'>@s.name</a></li>
                        }
                    }
                </ul>
                        }
                        else
                        {
                            <a href='/@n.url'><i class="@n.htmlAtt"></i>@n.name</a>
                        }
        </li>
                        }



</ul>
<ul class="bottomMenu nav nav-tabs nav-stacked firstMenu">
    @foreach (Navigation n in ViewBag.navPart2)
    {
        <li>
            @if (string.IsNullOrEmpty(n.controller))
            {
                <a href="#@n.name" class="nav-header collapsed" data-toggle="collapse"><i class="@n.htmlAtt"></i>@n.name</a>
                <ul class="nav nav-list collapse secondmenu" id="@n.name">
                    @{
                        var subMenus = allNavs.Where(s => s.pId == n.Id);

                        foreach (Navigation s in subMenus)
                        {
                            <li><a class="son-list" href='/@s.url'>@s.name</a></li>
                        }
                    }
                </ul>
                        }
                        else
                        {
                            <a href='/@n.url'><i class="@n.htmlAtt"></i>@n.name</a>
                        }
        </li>
                        }
</ul>