<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inscoo</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
</head>
<body>
    @Html.Partial("_Header", ViewData)
    <div class="main">
        <div class="mainNav">
            @Html.Action("Portrait", "Home")
            @Html.Action("Menu", "Home")
        </div>
        <div class="mainContent">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @{if (string.IsNullOrEmpty(ViewBag.HeadTitle))
                            {
                                <b>@ViewBag.Title</b>
                            }
                            else
                            {
                                <b>@ViewBag.HeadTitle</b>
                            }
                        }
                    </h3>
                </div>
                <div class="panel-body">
                    @RenderBody()
                </div>
                @RenderSection("firstPanelFooter", required: false)
            </div>
            @RenderSection("secondPanel", required: false)
            @RenderSection("thirdPanel", required: false)
        </div>
    </div>
    @*<div class="modal fade" id="modalShowMessage" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/base")
    @Styles.Render("~/Content/FontAwesome")
    @RenderSection("scripts", required: false)
    <script>
        @*jQuery(function () {
            ShowMessage();
        });
        function ShowMessage() {
            console.log('@ViewBag.ErrorMes');
            if ('@ViewBag.ErrorMes'.length > 0) {
                jQuery('.modal-body').html(' <h3 class="text-danger">@ViewBag.ErrorMes</h3>');
                jQuery('#modalShowMessage').modal('show');
            }
            else if ('@ViewBag.SuccessMes'.length > 0) {
                jQuery('.modal-body').html(' <h3 class="text-success">@ViewBag.SuccessMes</h3>');
                jQuery('#modalShowMessage').modal('show');
            }
            else {
                jQuery('.modal-body').html("");
            }
        }*@
    </script>
</body>
</html>