<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inscoo</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/base")
    @RenderSection("head", required: false)
</head>
<body>
    @Html.Partial("_Header", ViewData)
    <div class="main">
        <div class="mainNav">
            @Html.Action("Portrait", "Home")
            @Html.Action("Menu", "Home")
        </div>
        <div class="mainContent">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @{if (string.IsNullOrEmpty(ViewBag.HeadTitle))
                            {
                                <b>@ViewBag.Title</b>
                            }
                            else
                            {
                                <b>@ViewBag.HeadTitle</b>
                            }
                        }
                    </h3>
                </div>
                <div class="panel-body">
                    @RenderBody()
                </div>
                @RenderSection("firstPanelFooter", required: false)
            </div>
            @RenderSection("secondPanel", required: false)
            @RenderSection("thirdPanel", required: false)
        </div>
        <div class="service-girl">
            @Html.Action("Service","home")
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/base")
    @Styles.Render("~/Content/FontAwesome")
    @RenderSection("scripts", required: false)
    <script>
        jQuery(function () {
            $('.inputDate')
                .each(function () {
                    var date = $(this).val().substring(0, 10);
                    $(this).val(date);
                    $(this).datepicker();
                });
        });
    </script>
</body>
</html>