@model IEnumerable<Models.VHealthAuditList>

@{
    PageCommand pageCommand = ViewBag.pageCommand as PageCommand;
}
<table class="table table-bordered table-header-blur">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaokuOrderCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            数量
        </th>
        <th>
            未使用
        </th>
        <th>
            订单状态
        </th>
        <th>操作</th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Recursive.Count == 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.BaokuOrderCode)
                </td>
                <td>
                    <span>@item.CreateTime.ToShortDateString()</span>
                </td>
                <td>
                    @Html.DisplayFor(model => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ProductTypeName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ProductName)
                </td>
                <td>
                    <span class="text-danger">
                        @item.Count
                    </span>
                </td>
                <td>
                    @{
                        var avNum = item.Count - item.EmpSum;
                    }
                    <span class="text-success">
                        @avNum
                    </span>
                </td>
                <td>

                    @if (item.CreateTime.AddDays(30) < DateTime.Now && !item.FinConfirmDate.HasValue)
                    {
                        <span style="color:red;">已过期 |</span>
                        @Html.ActionLink("删除", "OrderInfo", new { item.MasterId, item.DateTicks, isDelete = true, pageCommand.PageIndex, pageCommand.PageSize }, new { @class = "text-warning" })
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.StatusDes)
                    }
                </td>
                <td>
                    @if (ViewBag.IsInscooOperator)
                    {
                        if (item.Status == 4)
                        {
                            @Html.ActionLink("审核", "Audit", new { Ticks = item.DateTicks }, new { @class = "text-primary" })
                        }
                        else if (item.Status > 4)
                        {
                            @Html.ActionLink("订单信息", "Audit", new { Ticks = item.DateTicks }, new { @class = "text-success" })
                        }
                    }
                    else if (ViewBag.IsFinance)
                    {
                        if (item.Status == 11)
                        {
                            @Html.ActionLink("确认付款", "Audit", new { Ticks = item.DateTicks }, new { @class = "text-primary" })
                        }
                        else if (item.Status > 4)
                        {
                            @Html.ActionLink("订单信息", "Audit", new { Ticks = item.DateTicks }, new { @class = "text-success" })
                        }
                    }
                    else
                    {
                        if (item.Status == 1)
                        {
                            @Html.ActionLink("信息填写", "EntryInfo", new { ticks = item.DateTicks }, new { @class = "text-primary" })
                        }
                        else if (item.Status == 4)
                        {
                            @Html.ActionLink("付款通知", "ConfirmPayment", new { item.MasterId, item.DateTicks }, new { @class = "text-primary" })
                        }
                        else if (item.Status > 4)
                        {
                            @Html.ActionLink("订单信息", "OrderInfo", new { item.MasterId, item.DateTicks, pageCommand.PageIndex, pageCommand.PageSize }, new { @class = "text-success" })
                        }
                    }
                </td>
                <td>
                    @if (!ViewBag.IsInscooOperator && !ViewBag.IsFinance)
                    {
                        if (item.Status <= 4)
                        {
                            @Html.ActionLink("删除", "OrderInfo", new { item.MasterId, item.DateTicks, isDelete = true, pageCommand.PageIndex, pageCommand.PageSize }, new { @class = "text-warning" })
                        }
                    }
                </td>
            </tr>
                        }
                        else
                        {
                            var rowspan = item.Recursive.Count + 1;
                            <tr>
                                <td rowspan="@rowspan" style="vertical-align:middle;">
                                    @Html.DisplayFor(model => item.BaokuOrderCode)
                                </td>
                                <td rowspan="@rowspan" style="vertical-align:middle;">
                                    <span>@item.CreateTime.ToShortDateString()</span>
                                </td>
                                <td rowspan="@rowspan" style="vertical-align:middle;">
                                    @Html.DisplayFor(model => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.ProductTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.ProductName)
                                </td>

                                <td>
                                    <span class="text-danger">
                                        @item.Count
                                    </span>
                                </td>
                                <td>
                                    @{
                                        var avNum = item.Count - item.EmpSum;
                                    }
                                    <span class="text-success">
                                        @avNum
                                    </span>
                                </td>
                                <td rowspan="@rowspan" style="vertical-align:middle;">

                                    @if (item.CreateTime.AddDays(30) < DateTime.Now && !item.FinConfirmDate.HasValue)
                    {
                                        <span style="color:red;">已过期 |</span>
                                        @Html.ActionLink("删除", "OrderInfo", new { item.MasterId, item.DateTicks, isDelete = true, pageCommand.PageIndex, pageCommand.PageSize }, new { @class = "text-warning" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.StatusDes)
                                    }
                                </td>

                                <td rowspan="@rowspan" style="vertical-align:middle;">
                                    @if (ViewBag.IsInscooOperator)
                    {
                        if (item.Status == 4)
                        {
                                    @Html.ActionLink("审核", "Audit", new { Ticks = item.DateTicks }, new { @class = "text-primary" })
                                        }
                                        else if (item.Status > 4)
                                        {
                                    @Html.ActionLink("订单信息", "Audit", new { Ticks = item.DateTicks }, new { @class = "text-success" })
                                        }
                                    }
                                    else if (ViewBag.IsFinance)
                                    {
                                        if (item.Status == 11)
                                        {
                                    @Html.ActionLink("确认付款", "Audit", new { Ticks = item.DateTicks }, new { @class = "text-primary" })
                                        }
                                        else if (item.Status > 11)
                                        {
                                    @Html.ActionLink("订单信息", "Audit", new { Ticks = item.DateTicks }, new { @class = "text-success" })
                                        }
                                    }
                                    else
                                    {
                                        if (item.Status == 1)
                                        {
                                    @Html.ActionLink("信息填写", "EntryInfo", new { ticks = item.DateTicks }, new { @class = "text-primary" })
                                        }
                                        else if (item.Status == 4)
                                        {
                                    @Html.ActionLink("付款通知", "ConfirmPayment", new { item.MasterId, item.DateTicks }, new { @class = "text-primary" })
                                        }
                                        else if (item.Status > 4)
                                        {
                                    @Html.ActionLink("订单信息", "OrderInfo", new { item.MasterId, item.DateTicks, pageCommand.PageIndex, pageCommand.PageSize }, new { @class = "text-success" })
                                        }
                                    }
                                </td>
                                <td>
                                    @if (!ViewBag.IsInscooOperator && !ViewBag.IsFinance)
                    {
                        if (item.Status <= 4)
                        {
                                    @Html.ActionLink("删除", "OrderInfo", new { item.MasterId, item.DateTicks, isDelete = true, pageCommand.PageIndex, pageCommand.PageSize }, new { @class = "text-warning" })
                                        }
                                    }
                                </td>
                            </tr>
                                        foreach (var subItem in item.Recursive)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(model => subItem.ProductTypeName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => subItem.ProductName)
                                                </td>
                                                <td>
                                                    <span class="text-danger">
                                                        @subItem.Count
                                                    </span>
                                                </td>
                                                <td>
                                                    @{
                                                        var subAvNum = subItem.Count - subItem.EmpSum;
                                                    }
                                                    <span class="text-success">
                                                        @subAvNum
                                                    </span>
                                                </td>
                                                <td>
                                                    @if (!ViewBag.IsInscooOperator && !ViewBag.IsFinance)
                                                    {
                                                        if (item.Status <= 4)
                                                        {
                                                            @Html.ActionLink("删除", "OrderInfo", new { item.MasterId, item.DateTicks, isDelete = true, pageCommand.PageIndex, pageCommand.PageSize }, new { @class = "text-warning" })
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                                                }
                                                            }
                                                        }
</table>
@Html.Pager(pageCommand)
