@model Models.VHealthAuditOrder

@{
    ViewBag.Title = "审核";
}
@section head {
    <style>
        li {
            width: 33%;
        }
    </style>
}
<div class="orderConfirm">
    <ul class="orderConfirmLi">
        <li class="orderConfirmLiActive" style="width: 100%">
            <i class="fa fa-edit fa-2x"></i>
            审核
        </li>
    </ul>
</div>
@using (Html.BeginForm("AuditOrder", "Health", FormMethod.Post, new { @id = "EntryInfoForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MasterId)
    @Html.HiddenFor(model => model.DateTicks)
    @Html.HiddenFor(model => model.PageIndex)
    @Html.HiddenFor(model => model.PageSize)
    <input type="hidden" name="result" id="result" value="1" />

    @Html.Action("OrderInfo", new { Model.MasterId, Model.DateTicks, isInline = true });//订单信息

    <div class="orderConfirmBodyNext" style="text-align:center;">

        <input type="submit" value="审核通过" class="btn btn-primary" style="background-color: #38A6D9; border-color: #38A6D9" />
        <input type="submit" id="notPass" value="审核不通过" class="btn btn-primary" style="background-color: #38A6D9;border-color: #38A6D9 " />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery(function () {
            jQuery("#notPass").click(function () {
                jQuery("#result").val(0);
            });
        })
    </script>
}
