@model Models.VBuyDetail

@using (Html.BeginForm("BuyDetail", "Health", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.ProductType)
    @Html.HiddenFor(m => m.ProductName)
    <div class="count-change text-left">
        <div>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：</div>
        <div class="wrap-input">
            <span class="btn-reduce" onclick="reduce('#buy-num')">-</span>
            @Html.TextBoxFor(m => m.Count, new { @id = "buy-num", @class = " text" })
            <span class="btn-add" onclick="add('#buy-num')">+</span>

            <span></span>
        </div>
    </div>
    <div class="product-count col-xs-12" style="margin-left:1rem;">
        @Html.ActionLink("返回产品页", "Index", new { }, new { @class = "btn btn-default" })
        <input type="submit" value="直接购买" class="btn btn-primary" style="background-color: #38A6D9;border-color: #38A6D9 " />
        <a class="btn btn-danger" onclick="addToCart('@Model.ProductId')"><span class="fa fa-cart-plus"></span>&nbsp; 加入购物车</a>
        <span class="fa fa-cart-plus fa-2x" id="shoppingCart" style="color:red;display:none;"></span>
    </div>
}
<script>
    function addToCart(e) {
        var pNum = $('#buy-num').val();
        $.ajax({
            url: '/Cart/Add',
            data: { 'id': '' + e + '', 'num': '' + pNum + '' },
            type: 'post',
            success: function (data) {
                var cartIcon = $('#shoppingCart');
                cartIcon.css('position', 'fixed');
                cartIcon.show();
                cartIcon.animate({
                    left:'200px'
                }, 1200, function () {
                    cartIcon.hide();
                    location.reload();
                });
            }
        });
    }
</script>