@model Models.VCheckProductDetail
@{
    ViewBag.Title = "BuyInfo";
}
<div class="health_box">
    <div class="health_box_header">
        <ul class="">
            <li class="header_left">
                <img src="@Model.CheckProductPic" />
            </li>
            <li class="header_right">
                <h3><span>@Model.ProductName</span></h3>
                <ul>
                    <li>仅售：<b>￥@Convert.ToInt32(Model.PrivilegePrice)</b></li>
                    <li>市场价：<span>￥@Convert.ToInt32(Model.PublicPrice) </span></li>
                </ul>
                <div class="product-count">
                    @Html.ActionLink("返回产品页", "Index", new { }, new { @class = "btn btn-default" })
                    @Html.ActionLink("直接购买", "MakeSure", new { productId = Model.Id }, new { @class = "btn btn-primary", style = "background-color: #38A6D9;border-color: #38A6D9 " })
                </div>
            </li>
        </ul>
    </div>
    @Html.Partial("detail/_ProDetail_" + Model.Id)
</div>
