@model Models.VHealthEntryInfo

@{
    ViewBag.Title = "信息填写";
}
@section head {
    <style>
    </style>
}
<div class="orderConfirm">
    <ul class="orderConfirmLi">
        <li style="width: 33%">
            <i class="fa fa-save fa-2x"></i>
            <span>方案确认</span>
        </li>
        <li class="orderConfirmLiActive" style="width: 33%">
            <i class="fa fa-edit fa-2x"></i>
            信息填写
        </li>
        <li style="width: 33%">
            <i class="fa fa-usd fa-2x"></i>
            确认付款
        </li>
    </ul>
</div>
@{ 
    using (Html.BeginForm("EntryInfo", "Health", FormMethod.Post, new { @id = "EntryInfoForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DateTicks)
        @Html.Hidden("isCompanySelect")

        <hr>
        <div class="orderEntryInfoBody">
            <p class="basic-information" style="margin-top: 20px;">
                <i class="fa fa-edit fa-2x"></i>发票公司信息
                <input type="button" value="新增信息" id="companyInfoEdit" class="btn btn-success" />
            </p>
            <ul>
                <li>
                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })：
                </li>

                <li>
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    @if (Model.CompanyNameList != null)
                    {
                        @Html.DropDownListFor(m => m.CompanyId, Model.CompanyNameList, null, new { @class = "form-control" })
                    }
                </li>
                <li>
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                    <span style="color:#888;">(请填写全称用于发票抬头)</span>
                </li>
            </ul>
            <ul>
                <li style="width:20%;text-align:right">
                    @Html.LabelFor(model => model.Linkman, htmlAttributes: new { @class = "control-label" })：
                </li>
                <li>
                    @Html.EditorFor(model => model.Linkman, new { htmlAttributes = new { @class = "form-control" } })
                </li>
                <li>
                    @Html.ValidationMessageFor(model => model.Linkman, "", new { @class = "text-danger" })
                </li>
            </ul>
            <ul style="height:50px">
                <li>
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })：
                </li>
                <li>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })

                </li>
                <li>
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    <sapn style="color:#888;">(供保单及发票寄送)</sapn>
                </li>
            </ul>
            <ul>
                <li style="width:20%;text-align:right">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })：
                </li>
                <li>
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                </li>
                <li>
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </li>
            </ul>
        </div>
        <div class="orderConfirmBodyNext" style="text-align:center;">
            <input type="submit" value="下一步" class="btn btn-primary" style="background-color: #38A6D9;border-color: #38A6D9 " />
        </div>
    }

    using (Ajax.BeginForm("HealthPersons", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "dadaGrid" }, new { id = "searchForm" }))
    {
        @Html.Hidden("MasterId", Model.MasterId)
        <div class="employeeInfo" id="dadaGrid">
            @Html.Action("HealthPersons", new { Model.MasterId })
        </div>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        jQuery(function () {
            InitCompanyList();

        });


        function InitCompanyList() {
            var list = document.getElementById("CompanyId");
            //console.log(list);
            if (list == null || list == undefined) {
                jQuery("#companyInfoEdit").hide();
                jQuery("#isCompanySelect").val(false);
                return false;
            } else {
                jQuery("#CompanyName").hide();
                jQuery("#isCompanySelect").val(true);
            }
            jQuery("#companyInfoEdit")
                .click(function () {
                    ChangeButtonValue();
                    return false;
                });
            jQuery("#CompanyId")
                .change(function () {
                    GetCompanyInfo();
                }
            );
            GetCompanyInfo();
            return false;
        };

        function GetCompanyInfo() {
            var id = jQuery("#CompanyId").val();
            //console.log(id);
            $.ajax({
                url: "/Order/GetCompanyInfo",
                type: "post", //数据发送方式
                async: false,
                data: { id: id },
                dataType: "json", //接受数据格式
                error: function () {
                    alert("服务器没有返回数据，可能服务器忙，请重试");
                },
                success: function (result) {
                    //console.log(result);
                    //console.log(event);
                    if (result != null) {
                        jQuery("#Linkman").val(result.LinkMan);
                        jQuery("#Address").val(result.Address);
                        jQuery("#PhoneNumber").val(result.Phone);
                        jQuery("#CompanyName").val(result.Name);
                    }
                }
            });
        }

        function ChangeButtonValue() {
            jQuery("#Linkman").val("");
            jQuery("#Address").val("");
            jQuery("#PhoneNumber").val("");
            jQuery("#CompanyName").val("");
            var v = jQuery("#companyInfoEdit").val();
            if (v === "选择信息") {
                jQuery("#companyInfoEdit").val("新增信息");
                jQuery("#CompanyId").show();
                jQuery("#CompanyName").hide();
                jQuery("#isCompanySelect").val(true);
                GetCompanyInfo();
            } else {
                jQuery("#companyInfoEdit").val("选择信息");

                jQuery("#CompanyId").hide();
                jQuery("#CompanyName").show();
                jQuery("#isCompanySelect").val(false);
            }
        }
    </script>
}
