@model Models.VCheckProductDetail
@{
    ViewBag.Title = "方案确认";
}
@section head {
    <style>
        .form-group {
            margin: 25px auto;
        }

        .orderConfirmBodyNext {
            margin-top: 25px;
        }

        li {
            width: 33%;
        }
    </style>
}
<div class="orderConfirm">
    <ul class="orderConfirmLi">
        <li class="orderConfirmLiActive" style="width: 33%">
            <i class="fa fa-save fa-2x"></i>
            <span>方案确认</span>
        </li>
        <li style="width: 33%">
            <i class="fa fa-edit fa-2x"></i>
            信息填写
        </li>
        <li style="width: 33%">
            <i class="fa fa-usd fa-2x"></i>
            确认付款
        </li>
    </ul>
</div>
<div class="orderConfirmBody ">
    <div class="form-horizontal ">
        <div class="form-group ">
            @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-xs-5 text-right" })
            <div class="col-xs-7 ">
                <label class="control-label ">@Model.ProductName</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PublicPrice, new { @class = "control-label col-xs-5 text-right" })
            <div class="col-xs-7">
                <label class="control-label ">￥@Model.PublicPrice</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PrivilegePrice, new { @class = "control-label col-xs-5 text-right" })
            <div class="col-xs-7">
                <label class="control-label ">￥@Model.PrivilegePrice</label>
            </div>
        </div>
    </div>
    <div class="orderConfirmBodyNext" style="text-align: center;">

        @Html.ActionLink("返回购买信息", "BuyInfo", new { id = Model.Id }, new { @class = "btn btn-primary", style = "background-color: #38A6D9;border-color: #38A6D9 " })

        @Html.ActionLink("下一步", "EntryInfo", new { productId = Model.Id, masterId = Model.MasterId }, new { @class = "btn btn-primary", style = "background-color: #38A6D9;border-color: #38A6D9 " })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

    </script>
}
