@{
    ViewBag.Title = "上传人员名单";
}

@using (Html.BeginForm("UploadEmp", "Health", FormMethod.Post, new { @class = " entryInfoUpload", enctype = "multipart/form-data", id = "entryInfoUpload" }))
{
    <input type="hidden" name="id" id="id" value="@ViewBag.id" />
    <input type="hidden" name="ticks" id="ticks" value="@ViewBag.ticks" />
    <p class="basic-information">
        <i class="fa fa-edit fa-2x"></i>详细信息填写
    </p>
    <ul>
        <li>
            1.请下载员工名单模板并按模板格式填写：
        </li>
        <li>
            <a href="~/Archive/Template/health/体检上传表格.xlsx" target="_blank" class="btn btn-default">下载模板</a>
        </li>
        <li>
            2.请上传填写完成的员工名单
        </li>
        <li>
            <a href="javascript:;" class="a-upload">
                <input type="file" id="empinfo" required name="empinfo" />+ 浏览
            </a>
            <span class="lab" style="height:28px;line-height:28px;"></span>
            <input type="button" onclick="CheckEmpFile()" value="上传" class="btn btn-default" />
        </li>

    </ul>
    <div style="width:80%;margin:1em auto;line-height:2em;text-align:left;">
        <span style="color:#5cb85c">注:如果名单上传错误，请重新上传，新上传文件会把原文件替代</span>
    </div>
    <div style="width:80%;margin:0 auto;line-height:2em;text-align:left;">
        <span class="text-danger" id="error"></span>
        @if (TempData["error"] != null)
        {
            <span class="text-danger" style="font-size: 1em ">注意：@TempData["error"]</span><br />
        }
    </div>
}
@using (Ajax.BeginForm("HealthEmpTemp", null, new AjaxOptions { UpdateTargetId = "dadaGrid" }, null))
{
    <input type="hidden" name="masterId" value="@ViewBag.id" />
    <input type="hidden" name="ticks" value="@ViewBag.ticks" />
    <div id="dadaGrid">
        @Html.Action("HealthEmpTemp", new { masterId = ViewBag.id, ticks = ViewBag.ticks })
    </div>
}
@section Scripts {
    <script>
        function CheckEmpFile() {
            var empFile = $("#empinfo").val();
            if (empFile == '') {
                $('#error').text('未选择任何文件');
            }
            else {
                var emp = (empFile.substring(empFile.lastIndexOf(".") + 1, empFile.length)).toLowerCase();
                if (emp == 'xlsx' || emp == 'xls') {
                    $('#entryInfoUpload').submit();
                }
                else {
                    $('#error').text('请上传正确的Excel人员信息文件,' + emp + '为不支持的格式');
                }
            }
        }
    </script>
}