@model Models.vCompanySearch

@{
    ViewBag.Title = "企业列表";
}

@using (Ajax.BeginForm("ListData", null, new AjaxOptions()
{
    HttpMethod = "post",
    UpdateTargetId = "dataGrid"
}, new { @id = "searchForm" }))
{
    @Html.HiddenFor(m => m.UserId)
    <div class="Search">
        <dl style="width:100%">
            <dt style="width:10%">
                企业名称
            </dt>
            <dd style="width:22%">
                @Html.EditorFor(model => model.Name)
            </dd>
            <dt style="width:10%">企业地址</dt>
            <dd style="width:22%">
                @Html.EditorFor(model => model.Address)
            </dd>
            <dt style="width:10%"></dt>
            <dd style="width:25%;float:right">
                <p> <input type="submit" value="查找" /></p>
            </dd>
        </dl>
        <dl style="width:100%">
            <dd style="float:right;width:25%;">
                <p>@Html.ActionLink("添加新企业", "Create", "Company", new { @class = "btn btn-primary", style = "margin-left:0.5em;width:90%" })</p>
            </dd>
        </dl>
        <p class="clearfix"></p>
    </div>

    <div id="dataGrid">
        @Html.Action("ListData")
    </div>
}