@model Models.RegisterModel

@{
    ViewBag.Title = "创建账户";
}
@section head {
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal formCreate">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("Roles", Model.RoleSelects, new { @class = "form-control" })
            </div>
        </div>


        @*<div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Linkman, htmlAttributes: new { @class = "control-label col-md-3" })

            <div class="col-md-9">
                @Html.EditorFor(model => model.Linkman, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Linkman, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BankNumber, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.BankNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CommissionMethod, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @if (Model.CommissionMethods != null)
                {
                    @Html.DropDownList("CommissionMethod", Model.CommissionMethods, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CommissionMethod, "", new { @class = "text-danger" })
                }
                else
                {
                    <label>@ViewBag.CommissionMethod</label>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProdInsurances, htmlAttributes: new { @class = "control-label col-md-3 " })
            <div class="col-md-9">
                @Html.ListBoxFor(m => m.ProdInsurances, ViewBag.ProdInsurancesList as IEnumerable<SelectListItem>, new { @class = "form-control chosen-select", multiple = "multiple", data_placeholder = "选择保险公司" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProdSeries, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.ListBoxFor(m => m.ProdSeries, ViewBag.ProdSeriesList as IEnumerable<SelectListItem>, new { @class = "form-control chosen-select", multiple = "multiple", data_placeholder = "选择保险系列" })
            </div>
        </div>
        <div class="form-group" id="roleChange">
            @Html.LabelFor(model => model.FanBao, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-offset-1 col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FanBao)
                    @Html.ValidationMessageFor(model => model.FanBao, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.TiYong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-1 col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TiYong)
                    @Html.ValidationMessageFor(model => model.TiYong, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rebate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Rebate, new { htmlAttributes = new { @class = "form-control", max = ViewBag.maxRebate, min = 0 } })
                @Html.ValidationMessageFor(model => model.Rebate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <label class="control-label">%</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsDelete, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-offset-1 col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsDelete)
                    @Html.ValidationMessageFor(model => model.IsDelete, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Memo, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                    @Html.EditorFor(model => model.Memo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="保存" class="btn btn-info" />

                @Html.ActionLink("返回列表", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            TongleWhenRoleChange();
            jQuery(".chosen-select").chosen();
        });
        jQuery("#Roles")
            .change(function () {
                TongleWhenRoleChange();
            });

        function TongleWhenRoleChange() {
            var value = jQuery("#Roles").val();
            //console.log(value);
            //console.log(value == "PartnerChannel");
            if (value == "PartnerChannel") {
                jQuery("#roleChange").show();
            } else {
                jQuery("#roleChange").hide();
            }
        }

    </script>
}
