@model IEnumerable<Models.User.UserModel>
<table class="table table-bordered table-style-control">
    <tr style="background-color:#24A9E4;color:#fff;">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkMan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiYong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FanBao)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Email)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkMan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiYong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FanBao)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@{
    PageCommand command = ViewBag.pageCommand;
    @Html.Pager(command)
}
