@model IEnumerable<Models.Cart.CartModel>
<div class="t">
    <h2 style="width:100%;border-bottom:none"><i class="fa fa-shopping-cart"></i>我的购物车</h2>
</div>
<table class="table shoppingCart">
    <tr>
        <th width="10%">
            <input type="checkbox" onclick="selectProd(this, 'cartCheckBox')" id="selectAll" checked="checked" /> 全选
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            操作
        </th>
    </tr>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            var priceName = "price_" + item.Id;
            var countName = "count_" + item.Id;
            var subTotalName = "subTotal_" + item.Id;
            <tr>
                <td>
                    <input type="checkbox" value="@item.Id" name="cartCheckBox" onclick="getAmount()" checked="checked" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PName)
                </td>
                <td>
                    <input type="hidden" value="@item.Price" id="@priceName" />
                    <span>@string.Format("{0:C}",item.Price)</span>
                </td>
                <td class="count-change">
                    <div class="wrap-input">
                        <span class="btn-reduce" onclick="reduce('.buy-num', '@item.Id')">-</span>
                        <input type="number"  class="cart-total buy-num" id=@countName onchange="checkNum(this,@item.Id)" value="@item.Total" min="1" max="9999" />
                        <span class="btn-add" onclick="add('.buy-num','@item.Id')">+</span>
                        <span></span>
                    </div>
                </td>
                <td>
                    <span id=@subTotalName>@string.Format("{0:C}",item.Amount)</span>
                </td>
                <td>
                    @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { @class = "text-danger" })
                </td>
            </tr>
        }
    }
</table>

<div class="cart-floatbar text-right row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-6 cart-amount">
        <h5 style="display:inline-block;height:40px;line-height:40px;">应付商品金额：</h5>
        @{
            <span><b>&yen;</b> <span id="amount">0.00</span></span>
            <input type="hidden" name="postData" id="postData" value="" />
        }

    </div>
    
</div>
<div class="cart-floatbar  text-right row" style="margin-top:10px;">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-6">
        <a class="btn btn-danger" onclick="buy()" style="background:#a61c4b">购买选中</a>
    </div>
</div>

