@model IEnumerable<Models.Cart.CartModel>
<table class="table shoppingCart">
    <tr>
        <th width="10%">
            <input type="checkbox" onclick="selectProd(this, 'cartCheckBox')" id="selectAll" checked="checked" /> 全选
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            操作
        </th>
    </tr>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            var priceName = "price_" + item.Id;
            var countName = "count_" + item.Id;
            var subTotalName = "subTotal_" + item.Id;
            <tr>
                <td>
                    <input type="checkbox" value="@item.Id" name="cartCheckBox" onclick="getAmount()" checked="checked" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PName)
                </td>
                <td>
                    <input type="hidden" value="@item.Price" id="@priceName" />
                    @Html.DisplayFor(modelitem => item.Price)
                </td>
                <td>
                    <input type="number" class="cart-total" id=@countName onchange="checkNum(this,'@item.Id')" value="@item.Total" min="1" max="9999" />
                </td>
                <td>
                    <span id=@subTotalName>@item.Amount</span>
                </td>
                <td>
                    @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { @class = "text-danger" })
                </td>
            </tr>
        }
    }
</table>

<div class="cart-floatbar text-right row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4 cart-amount">
        总额：
        @{
            <span id="amount">0.00</span>
            <input type="hidden" name="postData" id="postData" value="" />
        }

    </div>
    <div class="text-right col-md-2">
        <a class="btn btn-danger" onclick="buy()">购买选中</a>
    </div>
</div>
